<div class="row">
	<div class="center hero-unit">
			<h1>Welcome to Shamalama</h1>

			<p>
				This project is <%= link_to "going", "#" %> to be really great... I think and hope.
			</p>

			<p>
				<%= link_to "Sign Up Now", "#", class: "btn btn-large btn-primary" %>
			</p>
		</div><!-- /hero-unit -->

</div><!-- /row -->
