@import "bootswatch/flatly/variables";
@import "bootstrap";
body{
    padding-top: 70px;
}

@import "bootstrap-responsive";
@import "bootswatch/flatly/bootswatch";

.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
}
